.productDetail-container {
  .banner {
    position: relative;
    width: 100vw;
    height: 6.4rem;
    background-image: url("../../assets/memory-banner.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .content {
    width: 100vw;
    height: 19.75rem;
    background: #FFFFFF;
    padding: .48rem 4.8rem 1.51rem;

    .title {
      font-size: 0.42rem;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #4A4A4A;
      line-height: 0.59rem;
      text-align: center;
      margin-bottom: .48rem;
    }
    .describe {
      white-space: pre-wrap;
      font-size: 0.2rem;
      color: #4A4A4A;
      line-height: 0.28rem;
    }
  }
}
