@import '~antd/dist/antd.css';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: .8rem;
  padding: 0 20vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header, .header_bg {
  background: transparent;
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: .26rem;
        bottom: -0.25rem;
        width: 1.12rem;
        height: 0.03rem;
        background: #FFFFFF;
        border-radius: 2px;
        opacity: 0;
      }

      &:hover::after {
        content: '';
        position: absolute;
        left: .26rem;
        bottom: -0.25rem;
        width: 1.12rem;
        height: 0.03rem;
        background: #FFFFFF;
        border-radius: 2px;
        transition: all 1.2s ease;
        opacity: 1;
      }

      &:last-of-type {
        &::after {
          content: '';
          display: none;
        }

        &:hover::after {
          content: '';
          display: none;
        }

      }

      a {
        color: #fff;
        margin: 0 .32rem;
        font-size: .24rem;
        text-decoration: none;
        font-weight: 500;
      }

      .search {
        cursor: pointer;
        width: .25rem;
        height: .25rem;
        background-image: url("../../assets/icon_search.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: .24rem;
      }
    }
  }
}

.brand a {
  color: #fff;
  font-size: .24rem;
  text-decoration: none;
  font-weight: bold;
}

.menu-dropdown {
  .ant-dropdown-arrow {
    border-top-color: #000000;
    border-left-color: #000000;
    opacity: 0.6;
    left: .48rem;
  }

  ul {
    background: rgba(0, 0, 0, 0.6);

    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {
      background: rgba(0, 0, 0, 0.1);

      a {
        color: #1682FF;
      }
    }

    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      a {
        color: #fff;
        padding: .28rem .9rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        font-size: .24rem;
      }
    }
  }
}

.search-dropdown {
  .ant-dropdown-arrow {
  }

  .ant-dropdown-menu {

  }

  .search-input {
    width: 7.56rem;
    height: .8rem;
    background-color: #fff;
    box-shadow: none;
    border: none;
    margin: 0;
    padding-left: .32rem;
    font-size: .22rem;
    color: #333;
  }
}
